@charset "UTF-8";

.center {

    margin: auto;

    width: 50%;

    padding: 10px;

}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* add default color for animation start 
*
/

/* toggle this class*/

.color-bg-start {
  background-color: salmon;
}

/* toggle class bg-animate-color*/

.bg-animate-color {
  animation: random-bg .5s linear infinite;
}

/* add animation to bg color*/

@keyframes random-bg {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.fun-btn {
/*   change bg color to get different hues   
 
*/
  background-color: salmon;
  color: white;
  padding: 2em 3em;
  border: none;
  transition: all .3s ease;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
}

.fun-btn:hover {
  animation: random-bg .5s linear infinite, grow 1300ms ease infinite;
}

.start-fun {
  background-color: #fff !important;
/*   change color of button text when fun is started*/
  color: salmon !important;
}

/* pulsating effect on button
 
*/
@keyframes grow {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}

table.type10 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.type10 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #e7708d;
    margin: 20px 10px;
}
table.type10 tbody th {
    width: 150px;
    padding: 10px;
}
table.type10 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
table.type10 .even {
    background: #fdf3f5;
}

.font {
	font-family: 'Noto Serif KR', serif;
}