@charset "UTF-8";

.event {
	background-color: #FBFBEF;
	border: 1px solid;
	padding: 30px;
	padding-left: 200px;
	margin: 0 auto;
	width: 800px;
	text-align: center;
	height: 100px;
}
.event p {
	font-size: 16pt;
	float: left;
	margin-left: -100px;
	margin-right: 100px;
	text-align: center;
}
#myCoupon {
	color: red;	
	font-size: 25pt;
}
.getCoupon {

	border: 1px solid;
	background-color: #FBFBEF;
	color: black;
	padding: 5px;
	width: 150px;
	text-align: center;
}



/* section { */
/* 	width: 500px; */
/* 	height: 800px; */
/* 	position:absolute;  */
/*     top:50%; left:50%;  */
/*     transform: translate(-50%, -50%);  */
/* } */
.p1, .p2, .p3{
	text-align: center;
}
.p1 {
	width: 400px;
	height: 300px;
	padding: 0;
	margin: 230px auto;
	margin-bottom: 50px;
}
#btn {

	margin-bottom: 20px;
	font-size: 15pt;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px;
    outline: 0;
    text-align: center;
}
#eventBox {

	text-align: center;
	margin-bottom: 50px;
   
}
 
.img {
	width: 300px;
	height: 250px;
	text-align: center;	 
	-webkit-animation: swing-in-bottom-bck 8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-bottom-bck 8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

}
#img {
	
	width: 250px;
	height: 250px;
	text-align: center;	
}

#day {
	margin-left: 500px;
}
#hour, #min, #sec {
	margin-left: 68px;
	
}
.ul {
	width: 580px; 
	height: 30px; 
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	list-style:none;

}
.li {
	padding: 0;
	float: left;
	margin-left: 68px;
}
.description {
	background-color: #FBFBEF;
	border: 1px solid;
	margin: 0 auto;
	width: 800px;
	text-align: center;
}
.cpStatus {
	
	width: 800px;
	height: 150px;
	border: 1px solid;
	margin: 0 auto;
	padding: 0;
	background-color: #FBFBEF;
}
.cpStatus ul{
	list-style:none;
	margin: 0;
	padding: 0;
}
.cpStatus li{
    border-top: 1px solid;
	border-bottom: 1px solid;
	float: left;
	width: 265px;
	height: 150px;
	text-align: center;
	padding-top: 10px;
}
.cpStatus li:nth-child(1), .cpStatus li:nth-child(2) {
	border-right: 1px solid;
}
.warning {
	font-size: 12pt;
	font-weight: 700;
	background-color: #FBFBEF;
	border: 1px solid;
	clear: both;
	width: 800px;
	margin: auto;
}
.couponArea h3 {
	margin: auto;
	border: 1px solid;
	width: 800px;

}
.p {
	font-weight: bold;
	margin: 10px;
}
.pp {
	font-weight: bold;
	margin: 10px;
	padding-left: 180px;
	
}
.ppp {
	font-weight: bold;
	margin: 10px;
	padding-left: 130px;
	color: blue;
}
.cpStatus .p {
	font-size: 12pt;
	font-weight: 700;
}
.cpStatus .str {
	font-size: 14pt;
}
#c3, #c5, #c10 {
	color: blue;
	font-size: 15pt;
}
.warning {
	margin-top: 0;
}
.warning h3 {
	font-weight: bold; 
	text-align: center; 
	margin: 20px;
	
	
	
}


/* ----------------------------------------------
 * Generated by Animista on 2020-5-3 20:9:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-3 21:17:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-bottom-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-bottom-bck {
  0% {
    -webkit-transform: rotateX(-70deg);
            transform: rotateX(-70deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-bck {
  0% {
    -webkit-transform: rotateX(-70deg);
            transform: rotateX(-70deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2020-7-5 16:27:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
