@charset "UTF-8";

div#portfolio {
	margin: 30px 30px;
}
.clear{
	clear: both;
}
#product_img {
	margin-left: 50px;
	float: left;
	padding: 0 10px 0 0;
	max-width: 550px;
	max-height: 550px;
}

#product_img img {
	width: 450px; 
	height:450px; 
}

#product_detail {
	float: left;
	max-width: 100%;
	max-height: 100%;
	margin-left: 110px;
}

#content {
	margin-left: 50px;
}
.pn {
	font-size: 26px;
	color: #000;
	line-height: 32px;
	word-break: break-all
}
.kw{
	color:#666;
	word-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
	
	margin-bottom: 5px;
}
