@charset "UTF-8";


 /* ************************************************************ font ************************************************************ */
ul, ol {list-style:none;}
table {border-spacing:0; border:0;}
img, input, select, textarea, button {border:0; vertical-align:top; color:#666;}
hr {display:none;}
/* a {color:#666; text-decoration:none;} */
a:focus {border:2px solid #a5c7fe;}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	a:focus {border:0;}
}
textarea {resize:none;}
/* Base */
label, input.button, input.submit , input.image, button {cursor:pointer;}

/* layout */
#Wrapper,
#Header,
#Container,

h2{
	margin-bottom: 20px;
}


th{
	background: #f4f4f4;
	padding: 15px 0 15px 18px;
	text-align: left;
	color: #222;
	border-bottom: 1px solid #e6e6e6;
}
td{
	padding: 15px 20px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 14px;
	color: #222;
}
.pt_list{
	margin-left: -15%;
	margin-bottom: 15%;
}
.pt_list>div{
	margin-bottom: 10px;
}
.apBtn{
	margin-bottom: 5px;
}
